* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'DM Sans', sans-serif;
 
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    margin-top: 15rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1 {
    font-size: 6.4rem;
    font-weight: 700;
    color:#02073e;
  }
  
  .secondary-title {
    font-size: 4rem;
    font-weight: 700;
    color: #02073e;
  }
  
  .tertiary-title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: #3c415c;
  }
  
  p,
  .p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.5rem;
  }
  
  p:not(:last-of-type),
  .p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
  }
  
  .btn.btn-primary {
    background-color:#3c415c;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
  }
<<<<<<< HEAD

  .skills__item {
    margin-top: 90px;
  }
=======
>>>>>>> b5779bf17e7f9c0b0a148b5871fe719be1314dbe
  
  .max-width {
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 26rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-s {
    margin-bottom: 1rem;
  }
  
  .mb-m {
    margin-bottom: 2rem;
  }
  
  .mb-l {
    margin-bottom: 4rem;
  }
  
  .mb-xl {
    margin-bottom: 6rem;
  }
<<<<<<< HEAD

  .notebooks{
    border-radius: 60%;
  }

  .gulp{
    border-radius: 50%;
    height: 80px;
  }

  .skills{
    margin-bottom: -70px;
  }


=======
>>>>>>> b5779bf17e7f9c0b0a148b5871fe719be1314dbe
  
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 60%;
    }
  
    h1 {
      font-size: 6rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: 58%;
    }
  
    .max-width {
      padding: 0 2rem;
    }
  }
  
  @media only screen and (max-width: 425px) {
    h1 {
      font-size: 4.2rem;
    }
  }
  

  @media only screen and (max-width: 560px) {
    .skills{
     display: block; 
    }
  
  }


  @media only screen and (max-width: 880px) {
    .skills{
     display: block; 
    }
  
  }
  
  